body{
	background-color:#e5e5e5;
}

.navLink > p{

	margin: 0;
	padding: 15px;
}

.nav{
	text-align: center;
}

.navLink{
	color: white;
	text-decoration: none;
	width: 100%;

}

.forNav{
	background-color: #4dbfd9;
	box-shadow:0 0 10px rgba(0,0,0,0.5);
	padding: 10px;
}

.hero{
	width: 100%;
	height: 100%;
	background-image: url("../img/blog-img1.jpg");
	background-size: cover;
	padding: 5% 0;

	display: inline-flex ;
	flex-direction: column;

}

.hero > *{
	margin: auto;
}

.hero > img{
	width: 153px;
	height: 152px;
}

.whiteText{
	color: white;
}
.aboutMe{
	margin-top:0px !important ;  
}

.whiteSegment{
	margin-top: 5%;
	padding: 1%;
	background-color:white;
}

#skillsImg{
	/*display: block;*/
    width: 100%;
    height: auto;
}

header{
	background-color: #4dbfd9;
	
}

nav{
	margin: auto;

	padding-bottom: 5%; 
}

#faceImg{
	border-radius: 9999px;
}

#top{
	position: fixed;
	right: 10%;
	z-index: 9999;
	color: red;
	background-color: white; 
}

#up{
	/*background-color: #C0C0C0*/
	width: 30px;
	position: fixed;
	right:  50px;
	bottom:  50px;
}


.floatRight{
	text-align: right;
}

/*nav{
	width: 100%;
	position: fixed;

}*/
ul > li {
	list-style: none;
}
.skillBar{
	width:100%;
	height: 10px;
	border-radius: 10px;
	background-color: #e5e5e5;
}

.skillBarProgresive{
	height: 10px;
	border-radius: 10px;
	background-color: #4dbfd9;
}

.skillBarPercent{
	position: relative;
	right: -15px;
	top:-10px;
	width: 30px;
	height: 30px;
	float: right;
	text-align: center;
	padding: 4px;
	background-color: white;
	color: #4dbfd9;
	border-radius: 100px; 
	box-shadow:0 0 10px rgba(0,0,0,0.5);
	z-index: 9999;
}

#btnDown{
	background-color: #4dbfd9;
	color: white;
}

@media  (max-width: 550px) {
	.floatRight{
		text-align: left ;
	}
}

footer{
	width: 100%;
	height: 50px;
	text-align: center;
}

footer > p{
	margin-top: 25px;
}